<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <title>COVID - 19 FAKE NEWS CLASSIFIER</title>
</head>
<body>
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="../static/blockfakeeth.png" width="112" height="40">
          </a>      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>     
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/">
              Home
            </a>     
            <a class="navbar-item" href="https://covid-visual-thejas.surge.sh/" target="_blank">
              COVID-19 Visualizer
            </a>         
        </div>
      </nav>
      
      <div class="container" style=" align-items:center; ">
        <br><br><br>        
        <h2 class="title is-3">Enter the statement to classify : </h2>
        <form action="/classify" method="post">
            <br>         
            <input class="input is-primary " type="text" name="statement" placeholder="Primary input"><br><br>
            <button class="button is-link is-outlined is-fullwidth" type="submit">Classify</button>
        </form>
        <br><br>
        {% if judgement_text %}
        <h2 class="title is-4">VERDICT      :    {{judgement_text}}</h2>
        {% endif %}
      </div>
    
    
    
</body>
<footer class="footer">
    <div class="content has-text-centered">
     <span>&copy; 2021 &hearts; Thejaswagiri P</span>
    </div>
  </footer>
</html>